<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="<%= url('/estilos/estilos.css') %>" rel="stylesheet" type="text/css"/>
        <title>Mascotas perdidas y encontradas</title>
    </head>
    <body>
        <div class="w3-quarter">
            <img src="/imagenes/logos/perdidas-icon.png" alt="perdidas"/>
        </div>

        <div class="w3-quarter">
            <img src="/imagenes/logos/encontradas-icon.png" alt="encontradas"/>
        </div>

        <div class="w3-quarter">
            <img src="/imagenes/logos/adopcion-icon.png" alt="perdidas"/>
        </div>

        <div class="w3-quarter">
            <img src="/imagenes/logos/busqueda-icon.png" alt="busqueda"/>
        </div>

    </body>
</html>
