<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="<%= url('/estilos/estilos.css') %>" rel="stylesheet" type="text/css"/>
        <title>Mascotas perdidas y encontradas</title>
    </head>
    <body>
      <div class="w3-threequarter w3-center">
          <img src="/imagenes/logos/Banner.png" alt="banner"/>
      </div>

    </body>
</html>
