<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mascotas perdidas y encontradas | Publica tu anuncio</title>
    </head>
    <body>
        <form name="busqueda" id="busqueda" class="w3-container" action="/formulario_busqueda" method="post">
            <div id="divform" class="w3-container w3-teal">

                <input type="text" name="primernombre" class="w3-input w3-hover-dark-grey w3-border" placeholder="Nombre">
                <input type="text" name="apellido" class="w3-input w3-hover-dark-grey w3-border" placeholder="Apellido">
                <input type="tel" name="telefono" class="w3-input w3-hover-dark-grey w3-border" placeholder="Teléfono">
                <input type="email" name="email" class="w3-input w3-hover-dark-grey w3-border" placeholder="E-mail">
                <input type="text" name="provincia" class="w3-input w3-hover-dark-grey w3-border" placeholder="provincia">
                <input type="w3-radio" name="argentina"  class="w3-input w3-hover-dark-grey w3-border" checked="checked">
                <input type="text" name="descripcion" class="w3-input w3-hover-dark-grey w3-border" placeholder="Descripción">
                <input type="file" name="imagen" class="w3-input w3-hover-dark-grey w3-border" placeholder="Imagen">
              
                <button class="w3-btn-block w3-blue-grey">Enviar</button>
            </div>

        </form>

    </body>
</html>
