<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mascotas perdidas y encontradas | Publica tu anuncio</title>
    </head>
    <body>
        <form name="busqueda" id="busqueda" class="form-inline" action="/formulario_busqueda" method="post">
            <div id="divform" class="form-group" style="margin-top:75px">
                <div id="tipo">
                    <input class="w3-check" type="checkbox">
                    <label class="w3-validate">Perdida</label>
                    <input class="w3-check" type="checkbox">
                    <label class="w3-validate">Encontrada</label>
                    <input class="w3-check" type="checkbox">
                    <label class="w3-validate">Adopción</label>
                </div>
                <br>

                <div id="pais">
                    <input class="w3-radio" type="radio" name="pais" value="Argentina" checked>
                    <label class="w3-validate">Argentina</label>
                </div>
                <br>

                <div id="campos">
                    <div class="w3-third">
                        <input type="text" name="primernombre" class="form-control" placeholder="Nombre">
                        <input type="text" name="apellido" class="form-control" placeholder="Apellido">
                        <input type="tel" name="telefono" class="form-control" placeholder="Teléfono">
                    </div>
                    <div class="w3-third">
                        <input type="email" name="email" class="form-control" placeholder="E-mail">
                        <input type="text" name="provincia" class="form-control" placeholder="Provincia">
                        <input type="text" name="localidad" class="form-control" placeholder="Localidad">
                    </div>
                    <div class="w3-third">
                        <input type="text" name="calle" class="form-control" placeholder="Calle">
                        <input type="number" name="altura" class="form-control" placeholder="Altura">
                        <input type="text" name="descripcion" class="form-control" placeholder="Descripción">
                        <input type="file" name="imagen" class="form-control" placeholder="Imagen">
                    </div>
                </div>
                <br>

                <div id="send">
                    <button class="w3-btn-block w3-grey">Enviar</button>
                </div>

            </div>

        </form>

    </body>
</html>
