<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mascotas perdidas y encontradas | Publica tu anuncio</title>
  </head>
  <body>
    <form class="w3-container" action="publica" method="post">
      <input type="text" name="nombre" value="name">
      <input type="text" name="apellido" value="apellido">
      <input type="text" name="dirección" value="">
      <input type="text" name="localidad" value="localidad">
      <input type="text" name="provincia" value="provincia">
      <input type="w3-radio" name="argentina" value="pais" checked="checked">
      <input type="text" name="descripcion" value="descripcion">
      <input type="file" name="imagen" value="imagen">


    </form>

  </body>
</html>
