<html>
    <head>
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="/imagenes/favicon.ico" rel="shortcut icon">

    </head>

    <!-- Navbar -->


    <body>
        <div id='header'>
            
            <div id='main'>
                <%= yield %>
            </div>
        </body>
    </html>
